p {
    font-family: 'Lexend1', sans-serif;
    color: #fff;
    background-color: #333; /* dark gray background */
    padding: 12px;
    text-align: left; /* left header text */
    border-radius: 12px;
}

body {
    background-color: rgb(39, 39, 39);
  }

h1 {
    font-family: 'Lexend1', sans-serif;
    color: #fff;   

}